################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tarea2/App_Data/DestinosEncuestas.json
/Tarea2/.vs/Tarea2
/Tarea2/bin
/Tarea2/obj/Debug
