@model List<Tarea2.Models.Resumen>

@{
    ViewBag.Title = "Resumen de Popularidad de Destinos";
}

<h2>Resumen de Popularidad de Destinos</h2>
<hr />

<div id="gridContainer">
    @Html.Partial("_TablaDestinos", Model)
</div>

<br />
<button id="btnAgregarEncuesta" class="btn btn-primary">Agregar Encuesta</button>

@section scripts {
    <script>

    </script>
}